
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


h4 {
  color:#8B4513;
}

h2{
  font-size: 38px;
  font-family: "Gatefold Demi", serif;
  /* color: #050e3c; */
}

.global-button {
  background-color: #8B4513;
  color: white; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
}

.global-button:hover {
  background-color: #5A2E0E !important; 
}
